<p>{{quote.description}}</p>
<p>This quote was posted {{quote.publishDate | dateCount}} days ago</p> <div class="row" id="view-details">
   <div class=col-md-2>
       <button class="btn btn-success" (click)=Like(quote)>Upvote {{quote.Like}}</button> 
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <button  (click)=Dislike(quote) class="btn btn-warning">Downvote {{quote.Dislike}}</button> 
    </div> -->
    <div class="col-md-1"></div>
    <div class="col-md-2">
     <button (click) = 'quoteDelete(true)' class="btn btn-danger">Delete Quote</button>
    </div>
</div> 

