
<div id="title1">
  <h1>Enter Quotes</h1>
</div> 
<hr>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5"> 
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  <div class="col-md-5" id="details">
    <div id="detail-title">
      <h1>Your Quotes:</h1>
    </div>
    <hr>
    <br>
    
    <div *ngFor ='let quote of quotes; let i = index'>
      <li>Quote By ~{{quote.author}}</li>
        <button (click)="quoteDetails(i)" class="btn btn-success">View Details</button>
        <app-quote-details *ngIf ="quote.showDescription" [quotes] ='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-details>
    </div>
    
  </div>
</div>