
<div class=jumbotron>Enter Quotes</div>
<div class=row>
  <div class="col-md-2"></div>
  <div class="col-md-5"> 
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  <div class="col-md-5">
    <div *ngFor ='let quote of quotes; let i = index'>
      <li>
        {{quote.description}}published:{{quote.publishDate | date}}
      </li>
      <button (click)='quoteDetails(i)'>Quote Details</button>
      <app-quote-details *ngIf ="quote.showDescription" [quote] ='quote' (likeQuote)="quoteLike($event, i)" (dislikeQuote)="quotedisLike($event, i)" (removeQuote)="deleteQuote($event, i)"></app-quote-details>
    </div>
  </div>
</div>