
<div id="title">Enter Quotes</div> 
<hr>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-5"> 
    <app-quote-form (output)='addNewQuote($event)'></app-quote-form>
  </div>
  <div class="col-md-5">
    <div *ngFor ='let quote of quotes; let i = index'>
      <li>
        {{quote.description}}published:{{quote.publishDate | date}}
      </li>
        <button (click)='quoteDetails(i)' class="btn btn-danger">Quote Details</button>
        <app-quote-details *ngIf ="quote.showDescription" [quotes] ='quote' (like)="Like($event, i)" (dislike)="Dislike($event, i)" (removeQuote)="deleteQuote($event, i)"></app-quote-details>
  </div>
</div>
</div>