@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-image: url(http://epicwallpaperz.com/wallpaper-hd/ink-pen-wallpapers-high-resolution-On-wallpaper-hd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'IM Fell Double Pica', serif;
    
}
#fields{
    font-family: 'IM Fell Double Pica', serif;
    font-size: 17px;
}
#title1{
    font-size: 80px;
    text-align: center;
    color: #800000;
    font-weight: bold;
}
#formstyle{
    height:650px;
    border: solid;
    border-color: #800000;
    border-width: 2px;
    padding: 20px;
    width: 400px;
    background-color: #FFFDD0; 
    opacity: 0.8;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 20px;
    color: #800000;
}
#title{
    height: 70px;
    font-size: 50px;
    text-align: center;
    color: #800000;
}
 #details{ 
    height: 700px; 
    border-width: 1px;
    border: solid;
    border-radius: 5px;
    border-color: #800000; 
    width: 100px; 
    padding-top: 50px;
    background-color: #FFFDD0; 
    opacity: 0.8;
    font-size: 20px;
    color: #800000;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
 } 
 #view-details{
     height:100px;
     width: 300px;
     border-width: 1px;
 }
 #detail-title{
     text-align: center;

 }
