@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-image: url(http://epicwallpaperz.com/wallpaper-hd/ink-pen-wallpapers-high-resolution-On-wallpaper-hd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}